<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<dom-module id="pom-act-selector">

    <template>        
        <h3>Watcha doin'?</h3>
        <paper-dropdown-menu label="Doing?">
            <paper-listbox class="dropdown-content">
                <template is="dom-repeat" items="[[acts]]" as="act">
                    <!--<h4>[[act.__firebaseKey__]]</h4>-->
                    <!--<paper-item>[[act.value]]</paper-item>-->
                    <paper-item>[[act.value]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
    </template>

    <script>
        Polymer({
            is: "pom-act-selector",
            properties: {
                acts: {
                    type: Array
                }
            }
        });
    </script>
    
</dom-module>