<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="pom-act-logger">

    <template>
        <paper-button raised on-tap="log">Log</paper-button>
    </template>

    <script>
        Polymer({
            is: "pom-act-logger",
            properties: {
                selected: Object
            },
            log: function() {
                if (this.selected) {
                    alert(this.selected);
                }
            }
        });
    </script>
    
</dom-module>
