<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="pom-act-logger">

    <template>
        <firebase-collection id="collection" location="https://pombodoro.firebaseio.com/log" data="{{acts}}">
        </firebase-collection>
        <paper-button raised on-tap="log">Log</paper-button>
    </template>

    <script>
        Polymer({
            is: "pom-act-logger",
            properties: {
                selected: Object
            },
            log: function() {
                if (this.selected) {    
                    var log = {
                        ts: new Date().getTime(),
                        val: this.selected
                    };
                    // debugger;
                    // alert(log);
                    this.$.collection.add(log);
                }
            }
        });
    </script>
    
</dom-module>
