<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<dom-module id="pom-act-selector">

    <template>
        

        <style>
            .act {
                @apply(--paper-font-headline);
            }
        </style>
    
        <firebase-collection id="collection" location="https://pombodoro.firebaseio.com/log">
        </firebase-collection>
        
        <paper-toolbar>
            <div class="title">Now: {{selected}}</div>
        </paper-toolbar>

        <paper-listbox>
            <template is="dom-repeat" items="[[acts]]" as="act">
                <paper-item on-tap="_select" class="act">
                    [[act.value]]
                </paper-item>
            </template>
            <paper-item on-tap="_add" raised>                
                <paper-item-body>
                    <div>Add new ...</div>
                </paper-item-body>
                
                <iron-icon icon="add"></iron-icon>
            </paper-item>
        </paper-listbox>

    </template>

    <script>
        Polymer({
            is: "pom-act-selector",
            properties: {
                repository: Object,
                acts: Array,
                selected : {
                    type: Object,
                    notify: true
                }
            },
            _select: function(e) {
                console.log("select");
                this.selected = e.model.act.value;  
                this._log();              
            },
            _log: function() {
                console.log("log");
                if (this.selected) {    
                    var log = {
                        ts: new Date().getTime(),
                        val: this.selected
                    };
                    this.$.collection.add(log);
                }
            },
            _add: function() {
                alert("Addd");
            }
        });
    </script>

</dom-module>